@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:ital,wght@0,500;1,400&display=swap');

.itemListContainer{
    margin: 1rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
    grid-template-rows: auto;
    font-family: 'Roboto', sans-serif;
    gap: 20px;
    
    
}

a{
    color: #e2a85c;
    text-decoration:none;

}